/**
 * Your CSS goes here.
 */
 body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;


}

.madlibs {
    font-family: 'Italianno', 'cursive';
    font-size: 30px;
    font-weight: 700;
    width: 30%;
    text-align: center;
    flex: 1;
    color: black;
}
