#entrance {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('fire.gif') center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.madLibsEdit {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 18px;
  line-height: 0.5;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.madLibsEdit p {
  margin: 0;
  margin-bottom: 10px;
}
.madLibsEdit p:nth-child(4n) {
  margin-bottom: 40px; /* Add extra space after every 4th paragraph */
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('fire.gif') center center fixed;
  background-size: cover;
}

.left {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.right {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(50%, -50%);
}

.fire-button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  width: 400px;
  height: 400px;
  background: url('fire.png') center/cover;
  border: none;
  padding: 0;
  border-radius: 50%;
  filter: drop-shadow(0 10px 20px rgba(255, 0, 0, 0.5));
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}